*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, form button{
    background-color: #182c61;
    color: #ecf0f1;
    padding:16px 0;
}

header, section h2, section h3, form button{
    font-family: "Bungee", serif;
    font-weight: normal;
    font-style: normal;
}

body, input, textarea{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header li a{
    text-decoration: none;
    color: #ecf0f1;
}

header .container, section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.store-front{
    margin-right: 32px;
}

.brands-list li{
    display: inline;
    margin-right: 12px;
}

.brands-list img, .social-links img{
    height: 24px;
}

section .container{
    align-items: flex-start;
}

section{
    padding:24px 0;
}

section{
    color: #182c61;
}

section h2{
    font-size: 32px;
    margin-bottom: 18px;
}

section p{
    margin-bottom: 12px;
    font-size: 24px;
}

#contact .container{
    display:block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button{
    display: block;
    width: 320px;
    margin-bottom: 10px;
    padding: 8px 0;
}

form textarea{
    resize: none;
    height: 160px;
}

.social-links li{
    display: inline;
    margin-right: 10px;
}

.social-links li a{
    text-decoration: none;
}

form button{
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #183996;
}

input:focus, textarea:focus{
    outline-color: #182c61;
}

footer{
    color: #ecf0f1;
    background-color: #182c61;
    padding: 16px 0;
    font-weight: bold;
}